*{
    font-family: siraji;
}
.small-line{
    background-color: black;
    padding-top: 2px;
    width: 340px;
}
.blog-img{
    height: 379px;
    width: 379px;
}
.blog-post{
    width: 562px;
    height: 213px;
    font-size: 24px;
}
.blogs{
    margin-left: 100px;
}
.blog{
    margin-top: 100px;
}
.blog-text{
    margin-left: 30px;
}
.read-more{
    padding: 19px 63px;
    background-color: #46A908;
    color: white;
    font-size: 34px;
}
.bg-img{
    margin-top: 100px;
    margin-left: 100px;
}
.devide{
    margin-top: 150px;
}